# =====================================================
# Octave / MATLAB
# =====================================================
*.mat
*.oct
*.mex*
*.log

# Octave history
.octave_hist

# =====================================================
# Generated outputs
# =====================================================
*.mem
*.hex
*.txt

# Optional plots
*.png
*.pdf
*.svg

# =====================================================
# OS
# =====================================================
.DS_Store
Thumbs.db
